button {
    width: 160px;
}

.symptome {
    width: 500px;
}

.inputcell {
    width: 100px;
}

.systemimage {
    width: 600px;
    height: 300px;
    background-image: url("./network.png");
    background-size: 300px auto;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    position: relative;
}

.serverside {
    position: absolute;
    border: solid blue;
    color: blue;
    width: 150px;
    height: 130px;
    left: -80px;
    top: 50px
}

.clientside {
    position: absolute;
    border: solid green;
    width: 300px;
    height: 280px;
    left: 225px;
    top: -20px
}

.blueline {
    position: absolute;
    top: 120px;
    left: 75px;
    width: 40px;
    border-bottom: solid blue;
}

.greenline {
    position: absolute;
    top: 120px;
    left: 180px;
    width: 45px;
    border-bottom: solid green;
}

.database {
    position: absolute;
    top: 180px;
    left: 110px;
}